.App {
  text-align: center;
}

header{
  font-size: xx-large;
  margin: 25px 0px;
}

.form-fields{
  color: rgb(23, 199, 234);
  font-size:larger;
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: auto;
  border-radius: 10px;
  padding:15px;
  background-color: rgb(17, 105, 221);
}

.form-fields>input {
  border-color: rgb(128, 222, 13);
  border-radius: 5px;
}

.submit-button{
  color: rgb(231, 25, 25);
  font-size:larger;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}